.Bid {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    background: #06070f;
    border-radius: .25rem;
}

.Bid + .Bid {
    margin-top: 1rem;
}

.Bid__Title {
    margin: 0;
    color: #aaa;
}

.Bid__CreatedDate {
    color: #444;
}
.Bids__Heading {
    margin: 1rem 0 2rem;
    text-align: left;
    color: #aaa;
}
