.Form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "heading toggle"
        ". ."
        "avatar avatar"
        "subscription subscription"
        ". ."
        "submit submit"
        "remove remove";
    grid-template-rows: repeat(2, 3.5rem) 6.25rem repeat(2, 3.5rem) 3rem;
    color: #aaa;
    text-align: left;
    padding: 2rem;
    gap: 1rem;
    margin: 0;
    transition: .3s;
    border-radius: 4px 0 0 4px;
}

.Form__Trigger {
    width: 2rem;
    height: 10rem;
    background: #0b0e19;
    position: absolute;
    top: 50%;
    transform: translate3d(-100%,-50%,0);
    border-radius: 4px 0 0 4px;
    font-size: 2rem;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .5s;
}

.--Visible > .Form__Trigger {
    transform: translate3d(0,-50%,0) scaleX(-1);
}

.Form.--Invisible {
    transform: translate3d(100%,0,0);
}

.Form.--Visible {
    transform: translate3d(0,0,0);
}

.Form__Heading {
    grid-area: heading;
    font-size: 1.5rem;
    margin: 0;
}

.Form__Field {
    display: flex;
    flex-direction: column;
}

.Form__Field.--Avatar {
    position: relative;
    grid-area: avatar;
}

.Form__Field.--HasPremium {
    grid-area: subscription;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "label label"
        ". .";
}

.Form__FieldLabel {
    font-size: .8rem;
    margin-bottom: .35rem;
    grid-area: label;
}

.Form__Button {
    background: #1B4691;
    color: #eee;
    border-radius: .25rem;
    border: 0;
    cursor: pointer;
}

* + .Form__Button {
    margin-top: 1rem;
}

.Form__Button.--Submit {
    height: 2rem;
    grid-area: submit;
}

.Form__Button.--Remove {
    height: 2rem;
    margin-top: 0;
    grid-area: remove;
    background: #931b1b;
}

.Form__Field.--Avatar::before {
    content: attr(data-label);
    width: 100%;
    height: 4.5rem;
    margin-top: .5rem;
    display: inline-flex;
    position: absolute;
    top: 1rem;
    pointer-events: none;
    border-radius: .25rem;
    border: 4px #06070f dashed;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    box-sizing: border-box;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: .75rem;
    color: rgba(238, 238, 238, .75);
    transition: .3s;
    background: transparent;
}

.Form__Field.--Avatar::before:hover {
    background: #1B4691;
    color: #eee;
}

.Form__Field.--Avatar input {
    height: 5rem;
    cursor: pointer;
    opacity: 0;
}

.Form__FieldInput {
    border: 0;
    height: 2.25rem;
    background: #06070f !important;
    color: #aaa;
    border-radius: 4px;
    padding: 0.5rem;
    box-shadow: none;
}

.Form__Field.--Avatar.--IsFileDraggingOn::before {
    color: rgba(238, 238, 238, .15);
    background: rgba(27, 70, 145, 0.05);
}

.--AddMode .Form__ModeToggle {
    visibility: hidden;
}

.Form__ModeToggle {
    grid-area: toggle;
    background-color: transparent;
    border: 0;
    color: #1b4691;
    height: 16px;
    font-size: .75rem;
    justify-self: self-end;
    line-height: 39px;
    cursor: pointer;
}

.Form__FieldButton:first-of-type {
    border-radius: .25rem 0 0 .25rem;
}

.Form__FieldButton {
    color: #eee;
    border: 0;
    cursor: pointer;
    height: 2rem;
    background: rgb(6, 7, 15);
}

.Form__FieldButton.--Active {
    background: rgb(27, 70, 145);
}

.Form__FieldButton:last-of-type {
    border-radius: 0 .25rem .25rem 0;
}

.--EditMode .Form__Field.--Avatar::before {
    left: 5rem;
    width: calc(100% - 5rem);
}

.--EditMode .Form__FieldImage {
    position: absolute;
    left: 0;
    width: 4rem;
    top: 1.75rem;
    border-radius: .125rem;
}

.--AddMode .Form__FieldImage {
    display: none;
}
