.App {
  text-align: center;
}

.App__Logo {
  animation: App-logo-appearance 1.6s ease-in;
  height: 80px;
  background: white;
  padding: 15px 0;
  border-radius: 3px;
}

.App__Header {
  background-color: #1B4691;
  height: 150px;
  padding: 20px;
  color: white;
  box-sizing: content-box;
}

.App__Header * {
  box-sizing: content-box;
}

.App__Header h2 {
  margin: .75rem;
}

.App__Intro {
  font-size: large;
}

.App__Content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: ". merchants form";
}

.Form {
  height: calc(100vh - 2rem);
  position: sticky;
  right: 0;
  top: 1rem;
  background: #0b0e19;
  grid-area: form;
  margin-top: 1rem;
}

.Merchants {
  grid-area: merchants;
  gap: 1rem;
  display: grid;
  padding: 1rem;
}

@keyframes App-logo-appearance {
  from {
    opacity: 0;
    transform: scale(0.1) rotate(30deg);
    transform-origin: center bottom;
  }

  50% {
    transform: rotate(-10deg);
  }

  70% {
    transform: rotate(3deg);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.Bids {
    height: calc(100vh - 2rem);
    position: sticky;
    right: 0;
    top: 1rem;
    background: rgb(11, 14, 25);
    margin-top: 1rem;
    transition: .3s;
    color: #eee;
    padding: 1rem;
}

.Bids.--Invisible {
    transform: translate3d(-100%,0,0);
}

.Bids.--Visible {
    transform: translate3d(0,0,0);
}

