.App {
  text-align: center;
}

.App__Logo {
  animation: App-logo-appearance 1.6s ease-in;
  height: 80px;
  background: white;
  padding: 15px 0;
  border-radius: 3px;
}

.App__Header {
  background-color: #1B4691;
  height: 150px;
  padding: 20px;
  color: white;
}

.App__Intro {
  font-size: large;
}

@keyframes App-logo-appearance {
  from {
    opacity: 0;
    transform: scale(0.1) rotate(30deg);
    transform-origin: center bottom;
  }

  50% {
    transform: rotate(-10deg);
  }

  70% {
    transform: rotate(3deg);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}
